{% load default %}
{% load static %}
<div>
    {% if user.is_authenticated %}
        <nav>
            <ul class="topmenu">
                <li>
                    <a href="{% url 'authapp:profile_user' user.username %}"
                       class="down {% if new_notify %}notification_seen{% endif %}">
                        <img src="{{ user.avatar | media_for_users }}" alt="mdo" width="32" height="32"
                             class="rounded-circle">
                        {{ user.username| default:'Пользователь' }}</a>
                    <ul class="submenu">
                        <li><a href="{% url 'authapp:profile_user' user.username %}">Мой Профиль</a>
                        </li>
                        <li><a href="{% url 'blogapp:notifications' %}"
                               {% if new_notify %}class="notification_seen"{% endif %}>Уведомления</a></li>
                        <li><a href="{% url 'authapp:section_subscribe' %}">Моя лента</a></li>
                        <li><a href="{% url 'blogapp:post_create' %}">Создать статью</a></li>
                        <li><a href="{% url 'authapp:posts_user_list' %}">Мои статьи</a></li>
                        <li><a href="{% url 'authapp:user_comments' %}">Мои коментарии</a></li>
                        <li><a href="{% url 'authapp:user_dialogs' %}">Диалоги</a></li>
                        <li><a href="{% url 'blogapp:favorites' %}">Мои Закладки</a></li>
                        {% if user.is_superuser %}
                            <li><a style="color: #eb3e00" href="{% url 'adminapp:sections' %}">Категории</a></li>
                            <li><a style="color: #eb3e00" href="{% url 'adminapp:users_list' %}">Пользователи</a></li>
                            <li><a style="color: #eb3e00" href="{% url 'adminapp:posts_list' %}">Посты </a></li>
                        {% endif %}
                        <li><a href="{% url 'auth:logout' %}">Выйти</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    {% else %}
        <p style="margin-top: 22px;"><a href="{% url 'auth:login' %}"><i class="flaticon-user"></i>Войти</a> | <a
                href="{% url 'auth:register' %}">Регистрация</a>
        </p>
    {% endif %}
</div>
