{% load media_tags %}

{% for post in filter.qs %}
    <div class="single_blog">
        <div class="blog_thumb">
            {% include 'mainapp/includes/inc_card_header_reactions.html' %}
            <div class="blog_meta">
                <h3>{{ post.name }}</h3>
            </div>
            {% if post.image %}
                <img class="blog_img" src="/media/{{ post.image }}" alt="" onerror="this.style.opacity='0'">
            {% endif %}
            <p class="card-text" style="text-align: justify;">{{ post.text|truncatechars:200|safe }}</p>
            <p><a href="{% url 'blogs:post_read' post.id %}">Читать...</a></p>
        </div>
    </div>
{% endfor %}